@model IEnumerable<Stok>

<div class="content-body default-height">
    <div class="container-fluid">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><i class="fa-duotone fa-bags-shopping"></i> Stok Listesi</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example3" class="display" style="min-width: 845px">
                            <thead>
                                <tr>
                                    <th>Id </th>
                                    <th>Miktar </th>
                                    <th>MinStok</th>
                                    <th>MaxStok</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var stok in Model)
                                {
                                    <tr>
                                        <td>@stok.Id</td>
                                        <td>@stok.Miktar</td>
                                        <td>@stok.MinStok</td>
                                        <td>@stok.MaxStok</td>

                                        <td>

                                            <a asp-action="StokSil" asp-route-id="@stok.Id" class="btn btn-danger btn-sm rounded-circle">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="example3_paginate" class="dataTables_paginate paging_simple_numbers">
                                <!-- Sayfalama düğmeleri buraya gelecek -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

