@model IEnumerable<Urun>

<div class="content-body default-height">
    <div class="container-fluid">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Ürün Listesi</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example3" class="display" style="min-width: 845px">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Ad</th>
                                    <th>Açıklama</th>
                                    <th>Detay</th>
                                    <th>Fiyat</th>
                                    <th>Aktif</th>
                                    <th>İndirimli Fiyat</th>
                                    <th>İndirim Yüzdesi</th>
                                    <th>İndirim Tarihi</th>
                                    <th>Kategori Id</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var urun in Model)
                                {
                                    <tr>
                                        <td>@urun.Id</td>
                                        <td>@urun.Ad</td>
                                        <td>@urun.Acıklama</td>
                                        <td>@urun.Detay</td>
                                        <td>@urun.Fiyat</td>
                                        <td>@urun.Aktif</td>
                                        <td>@urun.IndirimliFiyat</td>
                                        <td>@urun.IndirimYuzdesi</td>
                                        <td>@urun.IndirimTarihi</td>
                                        <td>@urun.KategoriId</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="example3_paginate" class="dataTables_paginate paging_simple_numbers">
                                <!-- Sayfalama düğmeleri buraya gelecek -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

